.itemlistcontainer{
    max-width : auto;
    height: auto ; 
    background-color: whitesmoke;
    padding: 35px;
    .itemlistcontainer_product{
        display: flex;
        gap: 15px;
        justify-content: space-evenly;
    }
}

