
.card_container{
    width: 300px;
    height: 360px;
    box-shadow: 4px 6px;
}
.image_card{
    width: 200px;
    height: 180px;
    margin: auto;
    padding: 10px;
}
.button{
    padding: 5px;
    margin: 3px;
}
.text{
    font-size: 10px;
}
